.todo-list-hd {
  text-align: center;
  background: #14181f;
  padding: 30px;
  color: #fff;
}

.todo-list-hd-content {
  max-width: 768px;
  margin: 0 auto;
}

.todo-list-bd {
  padding: 30px;
  max-width: 768px;
  margin: 0 auto;
}
