body {
  background-color: #f5f5f5;
  color: #222;
  font-family: Lato, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 20px;
}
